bin
lib
develop
develop-eggs
downloads
eggs
.installed.cfg
.mr.developer.cfg
parts
*.pyc
src/*/*.egg-info
*.swp
coverage
.python
.Python
include
*.egg-info
.project
.pydevproject
.pydevproject.bak
.idea
sqlite*
.DS_Store
*~